::ng-deep .p-splitter {
  border: none !important;
  background-color: transparent !important;
}

app-navbar,
app-footer {
  height: 60px;
}

.app-main {
  min-height: calc(100vh - (120px));
}

::ng-deep div:has(.app-navbar) {
  box-shadow: 0px 0px 10px -5px var(--p-text-color);
}

::ng-deep div:has(.app-footer) {
  box-shadow: 0px 0px 10px -5px var(--p-text-color);
}

/* Mostrar solo en desktop */
.desktop-layout {
  display: block;
}

.mobile-layout {
  display: none;
}

/* Mostrar solo en móvil */
@media (max-width: 768px) {

  .desktop-layout {
    display: none;
  }

  .mobile-layout {
    display: block;
  }

  .app-navbar,
  .app-footer {
    box-shadow: 0px 0px 10px -5px var(--p-text-color);
  }

  app-navbar,
  app-footer {
    display: flex;
    justify-content: center;
  }

}