::ng-deep .p-menubar {
  border: none !important;
  background-color: transparent !important;
}

::ng-deep .p-menubar-item-label {
  font-size: 1.1rem !important;
}

::ng-deep .pi {
  font-size: 1.1rem !important;
}

::ng-deep .p-menubar-submenu {
  z-index: 10 !important;
}

#logo {
  border-right: 2px solid var(--p-slate-500);
}

@media (max-width: 768px) {
  .title {
    display: none;
  }

  ::ng-deep ul.p-menubar-root-list {
    width: max-content !important;
  }

  #logo {
    padding-right: 0.5rem !important;
  }
}