<section class="container p-5">
  <div class="card">
    <div class="card-header flex justify-content-between align-items-center mb-3">
      <h1 id="tittle" class="m-0 mfont-medium text-xl font-semibold">
        Editar cliente
      </h1>

      <div class="flex card-header-second">
        <p-button class="mr-2" (click)="this.location.back()" label="Cancelar" severity="secondary" [raised]="true" />
        <p-button label="Actualizar" severity="success" (click)="editar()" [raised]="true" [disabled]="form.invalid" />
      </div>
    </div>
  </div>
  <section class="form-info">
    <form [formGroup]="form">
      <div class="grid-container">
        <section class="flex flex-column">
          <label for="nombre">Nombre <span class="text-red-800">*</span></label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-barcode"></i>
            </p-inputGroupAddon>
            <input pInputText name="nombre" formControlName="nombre" maxlength="100" />
          </p-inputGroup>
        </section>
  
        <section class="flex flex-column">
          <label for="apellido">Apellido <span class="text-red-800">*</span></label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-barcode"></i>
            </p-inputGroupAddon>
            <input pInputText name="apellido" formControlName="apellido" maxlength="100" />
          </p-inputGroup>
        </section>
  
        <section class="flex flex-column">
          <label for="cedula">Cedula <span class="text-red-800">*</span></label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-barcode"></i>
            </p-inputGroupAddon>
            <input pInputText name="cedula" formControlName="cedula" maxlength="20" />
          </p-inputGroup>
        </section>
  
        <section class="flex flex-column">
          <label for="edad">Edad <span class="text-red-800">*</span></label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-barcode"></i>
            </p-inputGroupAddon>
            <input pInputText type="number" name="edad" formControlName="edad" min="1" />
          </p-inputGroup>
        </section>
      </div>
    </form>
  </section>
</section>